body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
.cycanColor{
    color:hsl(178, 100%, 50%);
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60rem;
}
p{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}
.hover{
    color: white;
      font-size:1.5rem;
}
.bottomSize{
    font-size:18px;
}
.container{
    background-color:hsl(216, 50%, 16%);
    padding: 1.6rem;
    border-radius: 0.6rem;
    width: 20rem;
    
}
.hoverDiv{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hoverDiv > .hide1{
    display:block;
    width: 100%;
    border-radius: 0.6rem;
    object-position: center;
}
.hoverDiv > .hide2{
     position: absolute;
     inset: 0;
     display:flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.6rem;
     background:rgba(0, 255, 247,.4);
}
.hoverDiv > .hide1,.hoverDiv > .hide1{
     transition:200ms ease-in-out;
}
.hoverDiv > .hide2.fade{
    opacity: 0;
}
.hoverDiv:hover > .hide2.fade{
    opacity:1;
}
.days{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 1px hsl(215, 51%, 70%) ;
}
.level{
    display: flex;
    align-items: center;
}
.level >img{
    margin-right: 0.7rem;
}

.profile{
    width: 2.2rem;
    border:solid 1px white;
    border-radius: 100%;
}
 /* Hover class */
span.hover:hover,span.hover:active,h1.hover:hover,h1.hover:active{
   color:hsl(178, 100%, 50%);
}

img.hover:hover,img.hover:active{
    opacity:1;
    color:hsl(178, 100%, 50%);
}